<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CampoFinder</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>CampoFinder </h1>
        <p>¡Encuentra tu cancha desde la facilidad de tu casa</p>
        <div class="buttons">
            <a href="{{ url_for('login') }}" class="btn">Iniciar Sesión</a>
            <a href="{{ url_for('register') }}" class="btn">Registrarse</a>
        </div>
    </div>
</body>
</html>